@media screen and (max-width:1023px) {
body{
    font-size: 25px;
}    

section{
    padding: 40px 0 10px 0;
}
.main__body{

    flex-direction: column-reverse;
}
.main__body__right{
    width: 100vw;
    height: 40%;
    
    
}
.main__body__left{
    width: 100%;
    height:100%;
}

#Main__Body__Left__Box__DateName__Name{
    font: italic bold 2em/50px Georgia, serif;
    letter-spacing: 2px;
    text-transform: lowercase;
    font-family: 'Bungee Spice', sans-serif;
    
    
}

#main__body__left__box__info__Address{
    margin-top: 10px;
    font: italic 900 25px/20px Georgia, serif;
    

}
.main__body__left__box__info__BoomClock__Date td{
 
    font: italic bold 2em/20px Georgia, serif;
    
}


.main__body__right__link__img{
    width: 100%;
    height: 100%;
    background: url(../images/cat.jpg);
    background-size: cover;
}
.main__body__right__link__img img{
    width: 100%; 
    height: 100%;
    margin: 10px 0 ;
}



}
@media screen and (max-width:641px){
    
    body{
    font-size:12px; 
}
.main__body{

    flex-direction: column-reverse;
}
section{
    padding:0px ;
}
.main__body__left{
    width: 100%;
    height:100%;
}

#Main__Body__Left__Box__DateName__Date__Defult{
    margin: 10px 0;
}   
    .main__body__left__box__dateName{
        height: 30%;
        padding: 5px 5px;

}

#Main__Body__Left__Box__DateName__Name{
    font: italic bold 3em/30px Georgia, serif;
    letter-spacing: 2px;
    text-transform: lowercase;
    font-family: 'Bungee Spice', sans-serif;
    
    
}
#main__body__left__box__info__BoomClock__Clock{
    width: 80%;
    font-size: 2.5em;
    margin:10px auto;
    color: #fa0;

}
#main__body__left__box__info__Address{
    display: flex;
    flex-shrink: unset;
    margin-top: 5px;
    font: italic 900 20px/20px Georgia, serif;

}

.main__body__right{
    width: 100%;
    height: 40%;
    margin: auto;
        
}

.footer{
    bottom: 0px;
    height:20px;
    padding: 7px 50px;
    background-color: #111;

}

}

@media screen and (max-width:300px){
    section{
        padding: 10px 0 0 0;
    }
    .main__body__left{
        width: 100%;
        margin: 0 20px;
    }
    .main__body__left__box__dateName{
        height: 25%;
        padding: 2px;
        margin:10px auto;
        overflow: hidden;
    }


    #Main__Body__Left__Box__DateName__Date__Defult{
        font-size: 30px;
        margin: 10px 0;
    }   
    #Main__Body__Left__Box__DateName__Name{
        font: italic 900 20px/15px Georgia, serif;
        height: 60px;
        letter-spacing: 2px;
        text-transform: lowercase;
        font-family: 'Bungee Spice', sans-serif;
        padding: 2px 0;
        
    }
    #main__body__left__box__info__massageVisted{
        font: italic bold 12px/20px Georgia, serif;
        font-family: 'Old Standard TT', serif;
        text-transform: uppercase;
    
    }
    
    #main__body__left__box__info__Address{
        margin-top: 10px;
        font: italic 900 10px/20px Georgia, serif;
        
    
    }
    
#main__body__left__box__info__Address p{
    font: 900 15px/10px Georgia, serif;
    width: 100%;
    height: 10px;

}
.main__body__left__box__info__BoomClock__Date{
    font:italic bold 20px/15px Georgia, serif;
}
    
}
