@import url('https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400;0,700;1,400;1,700&display=swap');

* {
    font-family: sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    letter-spacing: 3px;
}
a{
text-decoration: none;
font-weight:bold;
font-size: 15px;
cursor: pointer;
color: #0069ff;
transition: 0.6s ease;
}


li{
list-style: none;
margin: 5px 10px;
transition: 0.6s ease;
padding: 2px;
border-radius: 2px;
}
li:hover,li.active{
    
    background-color: pink;
}
.header{
    background-color: #222;
    width: 100%;
    position: fixed;
    z-index: 999;
    border-radius: 3px;
    opacity: .9;

}

.header_navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2px 50px;
}

.logo{
    text-decoration: none;
    color: lightseagreen;
    text-transform: uppercase;
    font-weight: 900;
    font-size: 1.3em;
}
.header_navigation ul{
    display: flex;
}

section{
    padding: 50px 10px 10px 10px ;
}

.main{
    width: 100vw;
    height: 96vh;}
.main ,.main__body
,.main__body__right{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.main__body{
    width: 100%;
    height: 100%;
    /* background-color: red; clear*/
}
/* Start .main__body__left */
.main__body__left{
    width: 40%;
    height:100%;
    /* background-color: green; clear */
    margin: 0;
    padding: 0;
}

.main__body__left__box__dateName{
    height: 40%;
    padding: 5px;
    margin:10px auto;
    /* background-color: rebeccapurple;clear */
    overflow: hidden;
    /* clear color */}

/* 
font-style
font-variant
font-weight
font-size/line-height
font-family
*/
#Main__Body__Left__Box__DateName__Date__Defult{
    display:block;
    color: rgb(211, 129, 21);
    font: italic bold 3em/30px Georgia, serif;
    font-family: 'Old Standard TT', serif;
    margin: 20px 0 40px 0;
    
    
}
#Main__Body__Left__Box__DateName__Name{
    font: italic bold 3em/40px Georgia , serif;
    letter-spacing: 2px;
    text-transform: lowercase;
    /* font-family: 'Bungee Spice', sans-serif; */
    
}
#Main__Body__Left__Box__DateName__Name sup,
#Main__Body__Left__Box__DateName__Name sub,
#Main__Body__Left__Box__DateName__Name strong{
    font-family: 'Bungee Spice', sans-serif;
    padding: 0 30px;
}
#Main__Body__Left__Box__DateName__Name sup{
    display: flex;
    direction: rtl;
}
#Main__Body__Left__Box__DateName__Name sub{
    display: flex;
    direction: ltr;
}

.main__body__left__box__info{
height:55%;
padding: 10px;
margin: 10px auto;
/* background-color: royalblue;clear */
overflow: hidden;

}

#main__body__left__box__info__massageVisted{

    font: italic bold 18px/30px Georgia, serif;
    font-family: 'Old Standard TT', serif;
    text-transform: uppercase;

}
.main__body__left__box__info__dashed{
    margin: 5px 0;
}
.main__body__left__box__info__BoomClock__Date{
    width: 100%;
    font:italic small-caps bold 1.2em/20px Georgia, serif;
    
}
.main__body__left__box__info__BoomClock__Date td{
    color: #7c6c57;
    font: italic bold 2em/20px Georgia, serif;
    font-family: 'Old Standard TT', serif;
    padding: 10px;
    transition: .6s ease;
    
}
.main__body__left__box__info__BoomClock__Date td:hover{
    background-color: salmon;
}
/* BOOM  */
#main__body__left__box__info__BoomClock__Clock{
    width: 80%;
    font-size: 2em;
    margin:20px auto;
    color: #fa0;

}
#main__body__left__box__info__Address{
    /* background-color: darkgoldenrod; clear */
    margin-top: 10px;
    font:  900 19px/20px Georgia, serif;
    
    /* clear-color */
}
#main__body__left__box__info__Address p{
    height: fit-content;
    padding: 2px;

}




/* End .main__body__left */
/* Start .main__body__right */
.main__body__right{
    width: 60%;
    height:100%;
    /* background-color: blue; clear */
    margin: 0 20px;
    
}
/* ------------img----------- */
.main__body__right__link__img{
    width: 100%;
    height: 100%;
    background: url(../images/cat.jpg);
    background-size: cover;
}
.main__body__right__link__img img{
    width: 100%; 
    height: 100%;
}
/* End .main__body__right */

.footer{
    display: flex;
    justify-content:space-between ;
    align-items: center;
    width: 100%;
    height: 100%;
    color: #fa0;
    padding: 7px 50px;
    background-color: #111;

}
